{% include "htmltop.html" %}
<h1 align="center">{{ p.name }}</h1>
<h3 align="center">{{ p.pid }}</h3>
{{ p.description| linebreaks }}<br><br>
<strong>Sample Input</strong><br><br>
{{ p.sample_input | linebreaks }}<br><br>
<strong>Sample Output</strong><br><br>
{{ p.sample_output | linebreaks }}<br><br>
<strong>Explanation</strong><br><br>
{{ p.explanation  | linebreaks }}<br><br>

{% if user.is_authenticated %}
<form action="/submit/" method="post">
	{% csrf_token %}
	<input type="text" name="problemid" value="{{ p.pid }}"><br><br>
	<textarea rows="30" cols="80" name="code" placeholder="Your code here"></textarea><br><br>
	<select name="language">
		<option value="c">C</option>
		<option value="cpp">C++</option>
		<option value="java">Java</option>
		<option value="py">Python</option>
		<option value="rb">Ruby</option>
	</select><br><br>
	<input type="submit" value="Submit"><br>
	
</form>
{% endif %}
{% include "htmlbottom.html" %}
