{% include "htmltop.html" %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
window.onload = function(){
	document.getElementById("language_field").value="{{ s.language }}";
	function myPeriodicMethod() {
		console.log('calling ajax');
		$.ajax({
url: "/submissionstatus/{{ s.sid }}", 
success: function(data) {
	var parseData = JSON.parse(data);
	console.log(parseData);
	$('#status').html(parseData.status);
},
complete: function() {
// schedule the next request *only* when the current one is complete:
if($('#status').val() == 'waiting' || $('#status').val()=='Processing')
{

console.log('Hello');
setTimeout(myPeriodicMethod, 1000);
}
else
{
}

}
});
}

// schedule the first invocation:
setTimeout(myPeriodicMethod, 1000);


}
</script>
<div align="center" id="imagediv">
</div>

<p align="center" id="status">{{ s.status }}</p>
<form action = "/submit/" method="post">
	{% csrf_token %}
	<input type="text" name="problemid" value="{{ s.prob.pid }}"><br><br>
	<textarea rows="30" cols="80" name="code">{{ code }}</textarea><br><br>
	<select name="language" id = "language_field">
		<option value="c">C</option>
		<option value="cpp">C++</option>
		<option value="java">Java</option>
		<option value="py">Python</option>
		<option value="rb">Ruby</option>
	</select><br><br>
	<input type="submit" value="Submit"><br>



</form>

{% include "htmlbottom.html" %}
